name: Arduino Compile

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile Sketch
        uses: arduino/compile-sketches@v1
        with:
          fqbn: "arduino:avr:uno" 
          platforms: |
            - name: "arduino:avr"
          libraries: |
            - source-url: https://github.com/johnrickman/LiquidCrystal_I2C.git
            - source-url: https://github.com/MicroBeaut/Finite-State.git
          # This helper avoids failure if the folder structure is slightly off
          enable-deltas-report: true