name: Arduino CI with Static Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Compile sketch
        uses: abstract-333/compile-sketches@v1.0.7
        with:
          fqbn: "arduino:avr:uno" 
          platforms: |
            - name: "arduino:avr"
          libraries: |
            - source-url: https://github.com/johnrickman/LiquidCrystal_I2C.git
            - source-url: https://github.com/MicroBeaut/Finite-State.git
          sketch-paths: |
            - TissueProcessor
